.q_timer {
    position: relative;
    width: width('digenglishCB_lib/images/icon_timer.png');
    height: height('digenglishCB_lib/images/icon_timer.png');

    &>svg{
        position:absolute;
        left:9px;
        top:19px;
    }
    &>div {
        position:absolute;
        background: resolve('digenglishCB_lib/images/icon_timer.png') no-repeat ;
        width: width('digenglishCB_lib/images/icon_timer.png');
        height: height('digenglishCB_lib/images/icon_timer.png');
        padding-top: 40px;
        text-align: center;
        font-size: 20px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        line-height: 1.2;
    }
}